<!DOCTYPE html>
<html lang="en">
<!-- Adding the Title to the page in the head section below -->
<head>
    <title>Saahil Vashishta - Hobby Lobby</title>
    <meta charset=UTF-8">
    <link href="ExternalStyleSheet.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3" ></script>
    <script src="hobbyLobbyScript.js" type ="module"></script>
</head>
<body>
    <!-- Adding a navigation section -->
    <nav class="list--">
        <!-- Navigation section is an unordered list -->
        <ul>
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="FamilyAboutPage.html">Vashishta Family</a></li>
            <li><a href="Locations.html">Locations</a></li>
            <li><a href ="ContactMe.html">Leave your Mark</a></li>
            <li><a href ="Resume.html">Résumé</a></li>
            <li><a href ="HobbyLobby.html">Hobby Lobby</a></li>

        </ul>
    </nav>
     <!-- The first section -->
     <h1 class="SectionTitles">The Hobby Lobby</h1>
     <h2> Here are few of my hobbies you can see by hovering the mouse over the picture</h2>
     <br>
     <!--Gallery in a frame-->
     <fieldset id="app">
    <div class="gallary" @mouseleave="hideMessage()">
        <ul class="image-gallery">
            <li>
                <div class="image-container">
                    <img src="Media/guitar.jpg" alt="playing guitar" @mouseover="changeMessage('guitar')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'guitar' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/keys.jpg" alt="playing the keys" @mouseover="changeMessage('keys')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'keys' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/paddlboarding.jpg" alt="paddleboarding on a lake" @mouseover="changeMessage('paddleboarding')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'paddleboarding' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/rattlesnake.jpg" alt="hiking in Washington" @mouseover="changeMessage('rattlesnake')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'rattlesnake' && isShown">{{ message }}</div>
                    </transition>
                </div>
            </li>
            <li>
                <div class="image-container">
                    <img src="Media/amsterdam.jpg" alt="Travling to Amsterdam" @mouseover="changeMessage('amsterdam')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'amsterdam' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/luau.jpg" alt="luau with my wife" @mouseover="changeMessage('luau')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'luau' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/piano.jpg" alt="playing" @mouseover="changeMessage('piano')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'piano' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/workingout.jpg" alt="working out" @mouseover="changeMessage('workingout')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'workingout' && isShown">{{ message }}</div>
                    </transition>
                </div>
            </li>
            <li>
                <div class="image-container">
                    <img src="Media/cliff.jpg" alt="hiking" @mouseover="changeMessage('cliff')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'cliff' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/mailbox.jpg" alt="hiking at mailbox" @mouseover="changeMessage('mailbox')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'mailbox' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/rainier.jpg" alt="visiting Mount Rainier" @mouseover="changeMessage('rainier')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'rainier' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/yellowstone.jpg" alt="Visiting Yellowstone NP" @mouseover="changeMessage('yellowstone')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'yellowstone' && isShown">{{ message }}</div>
                    </transition>
                </div>
            </li>
            <li>
                <div class="image-container">
                    <img src="Media/italy.jpg" alt="Leaning Tower of Pisa in Italy" @mouseover="changeMessage('italy')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'italy' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/maple.jpg" alt="Hiking in the fall" @mouseover="changeMessage('maple')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'maple' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/mexico.jpg" alt="Chichen Itza in Mexico" @mouseover="changeMessage('mexico')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'mexico' && isShown">{{ message }}</div>
                    </transition>
                </div>
                <div class="image-container">
                    <img src="Media/rainier2.jpg" alt="Visiting Mount Rainier" @mouseover="changeMessage('rainier2')"/>
                    <transition>
                        <div class="gallery-message" v-if="currentImg === 'rainier2' && isShown">{{ message }}</div>
                    </transition>
                </div>
            </li>
        </ul>
    </div>
     </fieldset>
    </body>
    </html>